<div class="min-h-screen bg-gradient-to-b from-blue-900 from-20% via-blue-700 via-50% to-emerald-500 to-80% animate-gradient p-6">
  <div class="max-w-7xl mx-auto">
    <h1 class="text-4xl font-bold text-blue-100 mb-8 text-center">Componentes</h1>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">

      <div class="bg-gradient-to-br from-blue-800/50 to-emerald-800/50 rounded-xl p-6 backdrop-blur-md border border-blue-500/20 shadow-lg hover:shadow-blue-500/20">
        <app-toast-examples></app-toast-examples>
      </div>
      <div class="bg-gradient-to-br from-blue-800/50 to-emerald-800/50 rounded-xl p-6 backdrop-blur-md border border-blue-500/20 shadow-lg hover:shadow-blue-500/20">

        <app-button-examples></app-button-examples>
      </div>

    </div>
  </div>
</div>
