<div class="p-6 text-white">
    <h2 class="text-2xl font-bold mb-6">Botones</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="space-y-4">
        <h3 class="text-xl font-semibold text-emerald-400">Primary</h3>
        <div class="flex flex-wrap gap-2">
          <app-button variant="primary">Primary</app-button>
          <app-button variant="primary" [disabled]="true">Disabled</app-button>
        </div>
      </div>

      <div class="space-y-4">
        <h3 class="text-xl font-semibold text-blue-400">Secondary</h3>
        <div class="flex flex-wrap gap-2">
          <app-button variant="secondary">Secondary</app-button>
          <app-button variant="secondary" [disabled]="true">Disabled</app-button>
        </div>
      </div>

      <div class="space-y-4">
        <h3 class="text-xl font-semibold text-red-400">Error</h3>
        <div class="flex flex-wrap gap-2">
          <app-button variant="error">Error</app-button>
          <app-button variant="error" [disabled]="true">Disabled</app-button>
        </div>
      </div>

      <div class="space-y-4">
        <h3 class="text-xl font-semibold text-yellow-300">Warning</h3>
        <div class="flex flex-wrap gap-2">
          <app-button variant="warning">Warning</app-button>
          <app-button variant="warning" [disabled]="true">Disabled</app-button>
        </div>
      </div>
    </div>

    <div class="space-y-4 mt-4">
      <h3 class="text-xl font-semibold text-blue-100">Estados</h3>
      <div class="flex flex-wrap gap-2">
        <app-button variant="primary">Normal</app-button>
        <app-button variant="primary" [disabled]="true">Disabled</app-button>
        <app-button
          variant="primary"
          [loading]="true"
        >
          Loading...
        </app-button>
      </div>
    </div>

    <div class="space-y-4 mt-4">
      <h3 class="text-xl font-semibold text-blue-100">Tamaños</h3>
      <div class="flex flex-wrap items-center gap-2">
        <app-button
          variant="primary"
          size="sm"
        >
          Small
        </app-button>
        <app-button variant="primary">Normal</app-button>
        <app-button
          variant="primary"
          size="lg"
        >
          Large
        </app-button>
      </div>
    </div>
</div>
